:root{
    --primary: #6209DB
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    min-height: 90px;
}

.text-primary{
    color: var(--primary)!important;
}

.navbar .btn{
    padding: .625rem 1.25rem !important;
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
}

.bg-primary{
    background-color: var(--primary) !important;
}

.content{
    max-width: 500px;
}